<%- include('partials/defaultHeader') -%>

    <div class="flex items-center justify-center  gap-2 grid-cols-1">
        <div>
            <a href="/register"><button id="register"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Register</button></a>
        </div>
        <div>
            <a href="/login">
                <button id="login"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
            </a>
        </div>
    </div>




    <%- include('partials/footer') -%>