<%- include('partials/dashboardHeader') -%>

<div id="main-container">
    <div>
        <table id="table" class="w-full text-left table-auto min-w-max px-4">
            <thead>
                <tr class="border-b border-slate-300 bg-slate-50">
                    <th class="p-4 text-sm font-normal leading-none text-slate-500">View Your Organizations</th>
                </tr>
            </thead>
        </table>
    </div>

</div>    
<script>
    
  let arrayData
   window.app =  <%- userOrgData %>
   
   arrayData = [...window.app]

    console.log(arrayData)

   let table = document.getElementById("table")

   function generateTable(table, data){
     for(let element of data){
        let row = table.insertRow();
        row.classList.add("bg-white", "dark:bg-gray-800");

        for(key in element){
            let cell = row.insertCell();
            let link = document.createElement("a");
            link.setAttribute("href", `/org/${element[key]}`)
            link.className = "font-medium text-blue-600 dark:text-blue-500 hover:underline"

            let text = document.createTextNode(key);
            cell.classList.add("px-6", "py-4")
            link.appendChild(text);
            cell.appendChild(link)
        }
     }
   }

   generateTable(table, arrayData)

</script>

<style>
    #main-container{
        width: 1200px;
    }
</style>